! Command: show running-config
! device: tor (DCS-7280TR-48C6, EOS-4.22.3M)
!
! boot system flash:/EOS-4.22.3M.swi
!
dhcp server
!
transceiver qsfp default-mode 4x10G
!
hostname tor
!
spanning-tree mode mstp
!
enable password sha512 $6$kWDV2wbi4BjUTaWk$ol.SlGBWKIkxobuttOVl71a6ABb/.nzXymp3KdCMOE8WV7oS7g9qv.tK/a5y2ezAuMDcTrhwXwCFwYjOodTdB/
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$m4L1NvdUYdBGkgN/$AS63fLihLk3ofFmtZ8A/Coh6O9YxOB5mV6eMFPl5C3Vy3IfbPdoK/mBFHg6rr3M1rSURXH65YoejOt6IZuQKb/
username arista secret sha512 $6$XSWQaaBNh..Tfg0L$rCVurZ3ffUZ41xGTv0jIE9TtRK95iR7vqGskQyDaRMDzZmdALmxvI4L2imKjHl6cpcY6OXiDLZpWw0h/ADUqB0
!
interface Ethernet1
   speed forced 1000full
!
interface Ethernet2
   speed forced 1000full
!
interface Ethernet3
   speed forced 1000full
!
interface Ethernet4
   speed forced 1000full
!
interface Ethernet5
   speed forced 1000full
!
interface Ethernet6
   speed forced 1000full
!
interface Ethernet7
   speed forced 1000full
!
interface Ethernet8
   speed forced 1000full
!
interface Ethernet9
   speed forced 1000full
!
interface Ethernet10
   speed forced 1000full
!
interface Ethernet11
   speed forced 1000full
!
interface Ethernet12
   speed forced 1000full
!
interface Ethernet13
   speed forced 1000full
!
interface Ethernet14
   speed forced 1000full
!
interface Ethernet15
   speed forced 1000full
!
interface Ethernet16
   speed forced 1000full
!
interface Ethernet17
   speed forced 1000full
!
interface Ethernet18
   speed forced 1000full
!
interface Ethernet19
   speed forced 1000full
!
interface Ethernet20
   speed forced 1000full
!
interface Ethernet21
   speed forced 1000full
!
interface Ethernet22
   speed forced 1000full
!
interface Ethernet23
   speed forced 1000full
!
interface Ethernet24
   speed forced 1000full
!
interface Ethernet25
   speed forced 1000full
!
interface Ethernet26
   speed forced 1000full
!
interface Ethernet27
   speed forced 1000full
!
interface Ethernet28
   speed forced 1000full
!
interface Ethernet29
   speed forced 1000full
!
interface Ethernet30
   speed forced 1000full
!
interface Ethernet31
   speed forced 1000full
!
interface Ethernet32
   speed forced 1000full
!
interface Ethernet33
   speed forced 1000full
!
interface Ethernet34
   speed forced 1000full
!
interface Ethernet35
   speed forced 1000full
!
interface Ethernet36
   speed forced 1000full
!
interface Ethernet37
   speed forced 1000full
!
interface Ethernet38
   speed forced 1000full
!
interface Ethernet39
   speed forced 1000full
!
interface Ethernet40
   speed forced 1000full
!
interface Ethernet41
   speed forced 1000full
!
interface Ethernet42
   speed forced 1000full
!
interface Ethernet43
   speed forced 1000full
!
interface Ethernet44
   speed forced 1000full
!
interface Ethernet45
   speed forced 1000full
!
interface Ethernet46
   speed forced 1000full
!
interface Ethernet47
   speed forced 1000full
!
interface Ethernet48
   speed forced 1000full
!
interface Ethernet49/1
   speed forced 1000full
!
interface Ethernet49/2
!
interface Ethernet49/3
!
interface Ethernet49/4
!
interface Ethernet50/1
   speed forced 1000full
!
interface Ethernet50/2
!
interface Ethernet50/3
!
interface Ethernet50/4
!
interface Ethernet51/1
   speed forced 1000full
!
interface Ethernet51/2
!
interface Ethernet51/3
!
interface Ethernet51/4
!
interface Ethernet52/1
   speed forced 1000full
!
interface Ethernet52/2
!
interface Ethernet52/3
!
interface Ethernet52/4
!
interface Ethernet53/1
   speed forced 1000full
!
interface Ethernet53/2
!
interface Ethernet53/3
!
interface Ethernet53/4
!
interface Ethernet54/1
   shutdown
   speed forced 100gfull
!
interface Management1
   ip address 172.22.0.5/16
!
ip route 0.0.0.0/0 172.22.0.1
!
no ip routing
!
management api gnmi
   transport grpc openmgmt
      port 5900
!
end
