! Command: show running-config
! device: A100G (DCS-7280CR-48, EOS-4.20.10M)
!
! boot system flash:/EOS-4.20.10.M.swi
!
transceiver qsfp default-mode 4x10G
!
hostname A100G
ip name-server vrf default 8.8.8.8
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 zzzzzzzzzzzzzzzzzzzzzz
!
interface Ethernet1/1
!
interface Ethernet2/1
!
interface Ethernet3/1
!
interface Ethernet4/1
!
interface Ethernet5/1
   error-correction encoding reed-solomon
!
interface Ethernet6/1
!
interface Ethernet7/1
!
interface Ethernet8/1
!
interface Ethernet9/1
!
interface Ethernet10/1
!
interface Ethernet11/1
!
interface Ethernet12/1
!
interface Ethernet13/1
!
interface Ethernet14/1
!
interface Ethernet15/1
!
interface Ethernet16/1
!
interface Ethernet17/1
!
interface Ethernet18/1
!
interface Ethernet19/1
!
interface Ethernet20/1
!
interface Ethernet21/1
!
interface Ethernet22/1
!
interface Ethernet23/1
!
interface Ethernet24/1
!
interface Ethernet25/1
!
interface Ethernet26/1
!
interface Ethernet27/1
!
interface Ethernet28/1
!
interface Ethernet29/1
!
interface Ethernet30/1
!
interface Ethernet31/1
!
interface Ethernet32/1
!
interface Ethernet33/1
!
interface Ethernet34/1
!
interface Ethernet35/1
!
interface Ethernet36/1
!
interface Ethernet37/1
!
interface Ethernet38/1
!
interface Ethernet39/1
!
interface Ethernet40/1
!
interface Ethernet41/1
!
interface Ethernet42/1
!
interface Ethernet43/1
!
interface Ethernet44/1
!
interface Ethernet45/1
!
interface Ethernet46/1
!
interface Ethernet47/1
!
interface Ethernet48/1
   shutdown
!
interface Ethernet49/1
!
interface Ethernet49/2
!
interface Ethernet49/3
!
interface Ethernet49/4
!
interface Ethernet50/1
!
interface Ethernet50/2
!
interface Ethernet50/3
!
interface Ethernet50/4
!
interface Ethernet51/1
!
interface Ethernet51/2
!
interface Ethernet51/3
!
interface Ethernet51/4
!
interface Ethernet52/1
!
interface Ethernet52/2
!
interface Ethernet52/3
!
interface Ethernet52/4
!
interface Ethernet53/1
!
interface Ethernet53/2
!
interface Ethernet53/3
!
interface Ethernet53/4
!
interface Ethernet54/1
!
interface Ethernet54/2
!
interface Ethernet54/3
!
interface Ethernet54/4
!
interface Ethernet55/1
!
interface Ethernet55/2
!
interface Ethernet55/3
!
interface Ethernet55/4
!
interface Ethernet56/1
!
interface Ethernet56/2
!
interface Ethernet56/3
!
interface Ethernet56/4
!
interface Management1
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api gnmi
   transport grpc default
      port 5900
!
end
