# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2022 Dell Inc, or its subsidiaries.
---
- name: Monitoring
  # Management server runs it via compose, see below. So skip it here
  hosts: hostservers,tgens,DPUs
  become: true
  vars:
    bmc_vars: "{{ hostvars[inventory_hostname+'bmc'] }}"
  tasks:
    - name: Copy telegraf folder to remote
      ansible.builtin.copy:
        src: ../telegraf.d
        dest: /root
        mode: "0755"

    - name: Remove arista config file
      ansible.builtin.file:
        state: absent
        path: /root/telegraf.d/arista.conf

    # TODO: create new telegraf container or use same for Marvell card

    - name: Initialize telegraf mounts for all hosts
      ansible.builtin.set_fact:
        telegraf_mounts:
          - type: bind
            source: "{{ '/root/telegraf.d/telegraf.conf.' + inventory_hostname if inventory_hostname in ['bf2', 'mev'] else '/root/telegraf.d' }}"
            target: "{{ '/etc/telegraf/telegraf.conf' if inventory_hostname in ['bf2', 'mev'] else '/etc/telegraf/telegraf.d' }}"
            read_only: true

    - name: Nvidia | telegraf otel monitoring
      when: inventory_hostname == 'bf2'
      block:
        - name: Nvidia | make sure emulation is running for temperature
          ansible.builtin.systemd:
            state: started
            name: set_emu_param

        - name: Nvidia | Stop mlnx_snap service
          ansible.builtin.systemd:
            state: stopped
            name: mlnx_snap

        - name: Nvidia | Start spdk_tgt service
          ansible.builtin.systemd:
            state: started
            name: spdk_tgt

        - name: Nvidia | Add additional mount for bf2
          ansible.builtin.set_fact:
            telegraf_mounts: "{{ telegraf_mounts + [{'type': 'bind', 'source': '/run/emu_param', 'target': '/run/emu_param', 'read_only': true}] }}"

    - name: Intel | telegraf otel monitoring
      when: inventory_hostname == 'mev'
      environment: "{{ proxy_env | default({}) }}"
      block:
        - name: Intel | Downgrade requests package due to bug https://github.com/ansible-collections/community.docker/issues/868
          ansible.builtin.pip:
            name: requests
            version: "<2.32"

        - name: Intel | Set cron job to get imc temperature every 5 minutes
          ansible.builtin.cron:
            name: "mev imc temperature"
            minute: "*/5"
            job: >
              ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
              -o ConnectTimeout=3 root@192.168.0.1 iset-cli get-temperature
              > /run/mev_imc_temperature.json

        - name: Intel | Set Docker socket has appropriate permissions
          ansible.builtin.file:
            path: /var/run/docker.sock
            mode: '0666'

        - name: Intel | Add additional mount for mev
          ansible.builtin.set_fact:
            telegraf_mounts: "{{ telegraf_mounts + [{'type': 'bind',
               'source': '/run/mev_imc_temperature.json',
               'target': '/run/mev_imc_temperature.json',
               'read_only': true},
              {'type': 'bind',
               'source': '/var/run/docker.sock',
               'target': '/var/run/docker.sock',
               'read_only': true}] }}"

    - name: Print the list of mounts for each host
      ansible.builtin.debug:
        var: telegraf_mounts

    - name: Run telegraf container on all hosts
      community.docker.docker_container:
        name: telegraf
        image: docker.io/library/telegraf:1.31
        state: started
        restart: true
        detach: true
        network_mode: host
        restart_policy: always
        mounts: "{{ telegraf_mounts }}"
        env:
          REDFISH_HOST: "{{ bmc_vars.ansible_host | default(omit) }}"
          REDFISH_USER: "{{ bmc_vars.ansible_user | default(omit) }}"
          REDFISH_PASSWORD: "{{ bmc_vars.ansible_password | default(omit) }}"
          REDFISH_SYSTEM_ID: "{{ bmc_vars.resource_id | default(omit) }}"
