# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2022 Dell Inc, or its subsidiaries.
---

- name:
  hosts: all
  gather_facts: false
  tasks:
    - name: Sync all clocks
      ansible.builtin.shell: "date -s '{{ now() }}'"

- name:
  hosts: switches
  gather_facts: false
  tasks:
    - name: run show version on remote devices
      #become: yes
      arista.eos.eos_command:
        commands:
          - show version
          - show interfaces
          #- show running-config

    # TODO: send lab/hardware/A100G/arista.config to the switch
    # TODO: send lab/hardware/ToR/arista.config to the switch

    #- name: load config file onto an Arista switch
    #  arista.eos.eos_config:
    #    backup: true
    #    src: ../hardware/{{ inventory_hostname }} /arista.config

- name:
  hosts: hostbmcs
  become: yes
  tasks:
    - name: Get Firmware Inventory
      community.general.redfish_info:
        category: Update
        command: GetFirmwareInventory
        baseuri: "{{ ansible_host }}"
        username: "{{ ansible_user | default(ansible_env.USER) }}"
        password: "{{ ansible_password }}"
      register: result

    - name: Debug print first firmware entry version
      ansible.builtin.debug: var=result.redfish_facts.firmware.entries[0].Version

    - name: Get BIOS attributes
      community.general.redfish_info:
        category: Systems
        command: GetBiosAttributes
        baseuri: "{{ ansible_host }}"
        username: "{{ ansible_user | default(ansible_env.USER) }}"
        password: "{{ ansible_password }}"
      register: result

    - name: Debug print bios serial number
      ansible.builtin.debug: msg={{ result.redfish_facts.bios_attribute.entries[0][1].SerialNumber | default(result.redfish_facts.bios_attribute.entries[0][1].SystemServiceTag) }}

    # TODO: configre BIOS to be always on ( see lab/hardware/dh123)


- name: Intel MEV | Enable Proxy and Port Forwarding
  hosts: mevbmc
  become: yes
  gather_facts: false
  tasks:
    - ansible.builtin.package: name=socat,squid state=present
    - ansible.builtin.copy: src=../hardware/dh4/fs/etc/systemd/system/socat-otel.service dest=/etc/systemd/system/socat-otel.service
    - ansible.builtin.service: name=socat-otel enabled=yes state=started daemon_reload=yes
    - ansible.builtin.shell: sed -i 's/http_access deny all/http_access allow all/g' /etc/squid/squid.conf
    - ansible.builtin.service: name=squid enabled=yes state=started

- name: Install docker and other packages
  hosts: hostservers,tgens,DPUs,Management
  become: yes
  environment:
    http_proxy:  "{{ 'http://192.168.0.1:3128' if inventory_hostname == 'mev' else '' }}"
    https_proxy: "{{ 'http://192.168.0.1:3128' if inventory_hostname == 'mev' else '' }}"
  tasks:
    - ansible.builtin.package: state=present name=python3-pip,sshpass,git
    - ansible.builtin.package: state=absent  name=docker.io,docker-doc,docker-compose,docker-compose-v2,podman-docker,containerd,runc
    - ansible.builtin.package: state=present name=docker-ce,docker-ce-cli,containerd.io,docker-buildx-plugin,docker-compose-plugin
    - ansible.builtin.systemd: state=started name=docker

- name: Monitoring
  # Management server runs it via compose, see below. So skip it here
  hosts: hostservers,tgens,DPUs
  become: yes
  tasks:

    # TODO: redfish fix IP and credentials for the BMC

    - name: Copy telegraf folder to remote
      ansible.builtin.copy: src=../telegraf.d dest=/root

    # TODO: create new telegraf container or use same for Marvell card

    # TODO: see if there is an opportunity to consolidate and code dup removal

    - name: Nvidia | telegraf otel monitoring
      when: inventory_hostname == 'bf2'
      block:
        - name: Nvidia | make sure emulation is running for temperature
          ansible.builtin.systemd:
            name: set_emu_param
            state: started
        - name: Nvidia | Run telegraf container on Nvidia BF
          community.docker.docker_container:
            name: telegraf
            image: docker.io/library/telegraf:1.29
            state: started
            restart: true
            detach: true
            network_mode: host
            restart_policy: always
            mounts:
              - type: bind
                source: /root/telegraf.d/telegraf.conf.bf2
                target: /etc/telegraf/telegraf.conf
                read_only: true
              - type: bind
                source: /run/emu_param
                target: /run/emu_param
                read_only: true

    # TODO: see if there is an opportunity to consolidate and code dup removal

    - name: Intel | telegraf otel monitoring
      when: inventory_hostname == 'mev'
      environment:
        http_proxy: http://192.168.0.1:3128
        https_proxy: http://192.168.0.1:3128
      block:
        - name: Intel | Downgrade requests package due to bug https://github.com/ansible-collections/community.docker/issues/868
          ansible.builtin.pip: name=requests<2.32
        - name: Intel | Run telegraf container on Intel MEV
          community.docker.docker_container:
            name: telegraf
            image: docker.io/library/telegraf:1.29
            state: started
            restart: true
            detach: true
            network_mode: host
            restart_policy: always
            mounts:
              - type: bind
                source: /root/telegraf.d/telegraf.conf.mev
                target: /etc/telegraf/telegraf.conf
                read_only: true

    - name: Run telegraf container on others
      when:
        - inventory_hostname != 'mev'
        - inventory_hostname != 'bf2'
      community.docker.docker_container:
        name: telegraf
        image: docker.io/library/telegraf:1.29
        state: started
        restart: true
        detach: true
        network_mode: host
        restart_policy: always
        mounts:
          - type: bind
            source: /root/telegraf.d
            target: /etc/telegraf/telegraf.d
            read_only: true

- name:
  hosts: Management
  become: yes
  tasks:
    - name: Run Monitoring OTEL, Prometheus, Grafana
      community.docker.docker_compose_v2:
        project_src: /root/opi-poc/lab
      register: output

- name:
  hosts: mev
  become: yes
  tasks:
    - ansible.builtin.shell: cat /etc/issue
    - ansible.builtin.shell: cat /etc/issue.net
      register: result
    - ansible.builtin.set_fact: acc_run_version={{ result.stdout | trim }}
    - ansible.builtin.debug: var=acc_run_version

- name:
  hosts: mevbmc
  become: yes
  vars:
      imc_version: 1.4.0.8469
      imc_local_file: /root/intel-ipu-pldm-image-{{ imc_version }}.tar.gz
      imc_remote_file: /work/intel-ipu-pldm-image-{{ imc_version }}/intel-ipu-pldm-{{ imc_version }}.bin
      acc_version: "{{ imc_version }}"
      acc_local_file: /root/intel-ipu-acc-eval-image-{{ acc_version }}.tar.gz
      acc_remote_file: /work/intel-ipu-acc-eval-image-{{ acc_version }}/ACC/OS/acc-os-kernel.bin
      ansible_remote_tmp: /tmp
  tasks:
    - ansible.builtin.shell: cat /etc/issue
    - ansible.builtin.shell: cat /etc/issue.net
      register: result
    - ansible.builtin.set_fact: imc_run_version={{ result.stdout | trim }}
    - ansible.builtin.debug: var=imc_run_version
    - ansible.builtin.shell: /usr/bin/ipu-update -i
    - ansible.builtin.debug: var=hostvars.mev.acc_run_version

    - name: Upgrade Intel Mev IMC FW to {{ imc_version }}
      when: not imc_version in imc_run_version
      block:
        - name: Check if firmware image exists remotely {{ imc_remote_file }}
          ansible.builtin.stat: path={{ imc_remote_file }}
          register: imc_remote_file_check

        # FW file doesn't exist, copy and unpack it

        - name: Copy and Extract {{ imc_local_file }} into remote /work folder
          when: not imc_remote_file_check.stat.exists
          block:
            - name: Check if firmware image exists locally {{ imc_local_file }}
              delegate_to: localhost
              ansible.builtin.stat: path={{ imc_local_file }}
              register: imc_local_file_check
        
            - name: Copy and Unpack {{ imc_local_file }} into remote /work folder
              when: imc_local_file_check.stat.exists
              ansible.builtin.unarchive: src={{ imc_local_file }} dest=/work

            - name: Check again if firmware image exists remotely {{ imc_remote_file }} after copy and unpack
              ansible.builtin.stat: path={{ imc_remote_file }}
              register: imc_remote_file_check
              
        # FW file exists, use it to start upgrade

        - name: Start upgrade Intel Mev IMC FW using existing {{ imc_remote_file }}
          when: imc_remote_file_check.stat.exists
          block:
            - ansible.builtin.shell: /usr/bin/ipu-update -i {{ imc_remote_file }}
            # TODO: remove echo below
            - ansible.builtin.shell: echo /usr/bin/ipu-update -u {{  imc_remote_file }}
            - ansible.builtin.shell: echo reboot

    # TODO: now update ACC using /usr/bin/imc-scripts/acc_os_partition_provision.sh

    - name: Upgrade Intel Mev ACC FW to {{ acc_version }}
      when: not acc_version in hostvars.mev.acc_run_version
      block:
        - name: Check if firmware image exists remotely {{ acc_remote_file }}
          ansible.builtin.stat: path={{ acc_remote_file }}
          register: acc_remote_file_check

        # FW file doesn't exist, copy and unpack it

        - name: Copy and Extract {{ acc_local_file }} into remote /work folder
          when: not acc_remote_file_check.stat.exists
          block:
            - name: Check if firmware image exists locally {{ acc_local_file }}
              delegate_to: localhost
              ansible.builtin.stat: path={{ acc_local_file }}
              register: acc_local_file_check
        
            - name: Copy and Unpack {{ acc_local_file }} into remote /work folder
              when: acc_local_file_check.stat.exists
              ansible.builtin.unarchive: src={{ acc_local_file }} dest=/work

            - name: Check again if firmware image exists remotely {{ acc_remote_file }} after copy and unpack
              ansible.builtin.stat: path={{ acc_remote_file }}
              register: acc_remote_file_check
              
        # FW file exists, use it to start upgrade

        - name: Start upgrade Intel Mev ACC FW using existing {{ acc_remote_file }}
          when: acc_remote_file_check.stat.exists
          block:
            # TODO: remove echo below
            - ansible.builtin.shell: ls /usr/bin/imc-scripts/acc_os_partition_provision.sh {{ acc_remote_file }}

- name:
  hosts: bf2
  become: yes
  tasks:
    - ansible.builtin.shell: cat /etc/mlnx-release
      register: result
    - ansible.builtin.set_fact: bf_version={{ result.stdout | trim }}
    - ansible.builtin.debug: var=bf_version

- name: Nvidia BlueField installation-update
  hosts: dh2
  become: yes
  vars:
      bfb_local_file: /root/bf-bundle-2.7.0-33_24.04_ubuntu-22.04_prod.bfb
      bfb_url: https://content.mellanox.com/BlueField/BFBs/Ubuntu22.04/{{ bfb_local_file | basename }}
  tasks:
    - ansible.builtin.shell: lspci | grep BlueField
    - ansible.builtin.shell: cat /dev/rshim0/misc

    - name: Check if firmware image exists locally {{ bfb_local_file }}
      ansible.builtin.stat: path={{ bfb_local_file }}
      register: bfb_local_file_check

    - name: Download firmware image {{ bfb_url }}
      ansible.builtin.get_url: url={{ bfb_url }} dest={{ bfb_local_file }} mode='0440'
      when: not bfb_local_file_check.stat.exists

    - ansible.builtin.debug: var=bfb_local_file
    - ansible.builtin.debug: var=hostvars.bf2.bf_version

    # TODO: ansible.builtin.shell: "bfb-install --bfb {{ local_bfb }} --config /tmp/bf.cfg --rshim {{ rshim.dev }}"

    - name: Flush BFB image and reboot BF card
      ansible.builtin.shell: cat {{ bfb_local_file }} > /dev/rshim0/boot
      when: not hostvars.bf2.bf_version in bfb_local_file

# from https://www.kernel.org/doc/html/v5.8/networking/device_drivers/pensando/ionic.html
- name: Pensando DSC installation-update
  hosts: dh1
  become: yes
  tasks:
    - ansible.builtin.shell: lspci -d 1dd8:1002
    - ansible.builtin.shell: lspci | grep Pensando
    - ansible.builtin.shell: dmesg | grep ionic
    - ansible.builtin.shell: ls -l  /sys/class/net/*/device
    - ansible.builtin.shell: ls -l  /sys/class/net/*/device/driver
    - ansible.builtin.shell: ethtool -i enp25s0np0
    - ansible.builtin.shell: devlink dev info pci/0000:19:00.0

- name: Marvell CN106 installation-update
  hosts: dh3
  become: yes
  tasks:
    - ansible.builtin.shell: lspci | grep Cavium
    - ansible.builtin.shell: lsusb | grep CP2105
    - ansible.builtin.shell: ls -l  /dev/ttyUSB*
